
.intersection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #111111;
    padding-top: 6rem;
    padding-bottom: 6rem;

    @include breakpoint-up(large) {
        flex-direction: row;    
        padding-top: 6rem;
        padding-bottom: 6rem;     
    }

    &__record {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        order: 2;

        @include breakpoint-up(large) {
            order: 1;      
            grid-template-columns: repeat(2, 1fr); 
        }

        > div:not(:last-child) {
            padding-bottom: 1rem;
        }
    }

    &__description {
        width: 100%;
        order: 1;
        font-size: $fontsize-lg;
        line-height: 1.5;
        font-family: 'Josefin Sans';
        opacity: 0;
        transition: opacity 300ms ease-in, transform 300ms ease-in;
        transform: translateY(50px);

        @include breakpoint-up(large) {
            order: 2;       
        }
    }

    &__description.appear-text {
        opacity: 1;
        transform: translateY(0)
    }

}

.fade-in {
    opacity: 0;
    transition: opacity 300ms ease-in, transform 300ms ease-in;
    transform: translateY(50px);
    display: flex;
    flex-direction: column;
    align-items: start;

    > p {
        padding-top: 2rem;
        font-size: 3rem;
        color: white;
        font-family: 'Josefin Sans';
        -webkit-text-fill-color: black; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;

        @include breakpoint-up(large) {
            padding-top: 0;   
            font-size: 3.5rem;    
        }
    }

    > h5 {
        font-size: $fontsize-lg;
        text-transform: uppercase;
        font-family: 'Josefin Sans';
        color: $primary;

    }
}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0)
}